.thumbnail{ 
  background-color:#ffa781;
  width: 200px;
  border: 10px solid #5b0e2d;
  padding: 50px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:370px;
  height: 150px;
  font-size: 180%;
  font-family: 'IM Fell English SC', serif;
}
div {
  background-color:#ffa781;
  width: 500px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:90px;
}



body{
    background:url(https://wallpaper.dog/large/20366996.jpg);
}

h1 {
    color:white;
    margin-left:195px;
    font-family: 'IM Fell English SC', serif;
}

h4 { 
    margin-left: 270px;   
}

img {
    color:white;
    width: 160px;
    height: 180px;
    margin-left: 20px;
}

li {
  background-color:#ffa781;
  width: 150px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:30px;
  height: 40px;
  font-family: 'IM Fell English SC', serif;
}
