.thumbnail{ 
  background-color:#ffa781;
  width: 250px;
  border: 10px solid #5b0e2d;
  padding: 50px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:450px;
  height: 150px;
  font-size: 180%;
  font-family: 'IM Fell English SC', serif;
}
div {
  background-color:#ffa781;
  width: 550px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:160px;
}



body{
    background:url(https://wallpaper.dog/large/20366996.jpg);
}

h1 {
    color:white;
    margin-left:300px;
    font-family: 'IM Fell English SC', serif;
}

h4 { 
    margin-left: 400px;   
}

img {
    color:white;
    width: 150px;
    height: 180px;
    margin-left: 30px;
}

li {
  background-color:#ffa781;
  width: 150px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:120px;
  height: 80px;
  font-family: 'IM Fell English SC', serif;
}
