.thumbnail{ 
  background-color:#ffa781;
  width: 400px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:10px;
}
div {
  background-color:#ffa781;
  width: 500px;
  border: 10px solid #5b0e2d;
  padding: 40px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:150px;
}

body{
    background:url(https://wallpaper.dog/large/20366996.jpg);
}

h1 {
    color:white;
}

img {
    color:white;
}

li {
  background-color:#ffa781;
  width: 70px;
  border: 10px solid #5b0e2d;
  padding: 30px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
  margin-left:10px;
}
